*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eafaea;
    z-index: 10;
}

nav ul li a{
    margin-top: 10px;
    margin-right: 60px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a:hover{
    color: white;
    text-decoration: none;
}

.nav-item .active{
    background-color: #ffffff !important;
    color: #5cb85c !important;
   }


.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.logo-link{
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: 3rem;
}
.org-name{
    margin-right: 200px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: floralwhite;
    text-shadow: 5px 2px lightseagreen;
    letter-spacing: 0.7rem;

}

.org-name-head{
    text-align: center;
    font-size: 3.5vw;
}

.thin{
    border: #c5c1c1 1px solid;
    padding: 10px 20px;
}

img{
    width: 100%;
}

.name{
    font-size: 1.5rem;
}

.post{
    font-size: 0.8rem;
}

.vision{
    margin-bottom: 2rem;
}

.motto p{
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.motto h3{
    font-size: 3rem;
}

.mail{
    color: black;
    text-decoration: none;
}

.mail:hover{
    color: black;
    text-decoration: none;
}

.social-media{
    margin-top: 3.3rem;
}

.social-media .fa{
    font-size: 1.5rem;
}

.social-media ul li a{
    color: black;
    text-decoration: none;
}

.team p{
    line-height: 5px;
}

footer{
    border-top: 5px #1eb61e solid;
}

@media(max-width: 1300px){
    nav ul li a{
        margin: 0;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .logo-link{
        margin-top: -10px;
        margin-bottom: -3px;
        margin-left: 0;
    }

    .logo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 1rem;
        margin-right: 0.2rem;
    }
     
}


@media(max-width: 600px){
    
    nav ul li a{
        margin: 0;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .logo-link{
        margin-top: 10px;
        margin-bottom: -3px;
        margin-left: 0;
    }

    .logo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 1rem;
        margin-right: 0.2rem;
    }

    .org-name{
        margin-right: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        color: floralwhite;
        text-shadow: 4px 2px lightseagreen;
        letter-spacing: 0.5rem;
    
    }
}

@media(max-width: 470px){
    .nav{
        display: block;
    }
}
